.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item {
  border: 1px solid black;
  box-sizing: border-box;
  flex: 1 1 auto;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.reset-button {
  margin: 20px;
}
